@media screen and (max-width: 480px) { 

    p { 
        color: orange;
        font-size: 20px;
    }

    body {
        background-image: url(../html-test/IMG_803666.jpg);
    }

    audio {
      padding-left: 80px;
      padding-top: 400px;

    }


    /* クリックしたら波紋が広がる */

.btnripple{
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*はみ出す波紋を隠す*/
	overflow: hidden;
    /*ボタンの形状*/
    text-decoration: none;
	display:inline-block;
	background: yellow;
	color: #fff;
	padding: 10px 25px;
    /* border-radius: 80px; */
    text-shadow: 10px#000;
    font-size: 1.0em;

    font-size: xx-large;

    -webkit-text-stroke: 2px #000; /* webkitのベンダープレフィックス */
    border-radius: 20px;
    line-height: 90px;

    
    outline: none;
}



.btnripple::after {
    content: "";
    /*絶対配置で波紋位置を決める*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*波紋の形状*/
    background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
    transform: scale(10, 10);
    /*はじめは透過0に*/
    opacity: 0;
    /*アニメーションの設定*/
    transition: transform 0.3s, opacity 1s;
}

/*クリックされたあとの形状の設定*/
    .btnripple:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
}

.btnripple {
    position: relative;
    left: 160px;
    width: 100px;
    height: 100px;
    top: 36px;
    align-items: center;


}




}


